@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --color-risk-high: #ef4444;       /* red-500 */
  --color-risk-moderate: #facc15;   /* yellow-400 */
  --color-risk-safe: #22c55e;       /* green-500 */
}

